.App {
	text-align: center;
}

.post-section {
	border: 1px solid gray;
	background-color: #ebebeb;
	border-radius: 7px;
	margin: 50px auto;
	max-width: 500px;
	box-sizing: border-box;
	padding: 10px;
}

.post {
	background-color: white;
	padding: 10px;
	border-radius: 7px;
	margin: 10px 0;
}
h5 {
	margin-top: 0;
	margin-bottom: 10px;
	font-size: 16px;
}
